@import './mixins';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: var(--color-background);
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

.slide-in-anim {
  @include slide-in-anim;
}

h3 {
  color: var(--color-gray-light);
  margin-bottom: 4px;

  &.gray {
    color: var(--color-gray);
  }
}
