@import './mixins';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: var(--color-background);

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-input-placeholder { /* Edge */
    color: var(--color-gray);
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-gray);
  }

  ::placeholder {
    color: var(--color-gray);
  }
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

.slide-in-anim {
  @include slide-in-anim;
}

h3 {
  color: var(--color-gray-light);
  margin-bottom: 4px;

  &.gray {
    color: var(--color-gray);
  }
}
